.about-page {

	& .about-section {

		@media all and ( min-width: 1200px ) {
			padding: 5rem 0 7rem;
		}

		& .generic-heading {
			color: @grayish_blue;
			font-size: 1.4rem;
		}

		& .quick-facts {

			& .facts-wrap {
				margin-top: .15rem;
			}
		}
	}

	& .team-section {

		& .team-sandhills {

			@media all and ( min-width: 1200px ) {
				margin-bottom: 6rem;
			}
		}

		& .our-people-row {

			& .col-xl-3 {

				&:nth-of-type(7n+1) {

					& .sandhills-member {

						& .member-graphic {
							background-color: @alt_purple;
						}
					}
				}

				&:nth-of-type(7n+2) {

					& .sandhills-member {

						& .member-graphic {
							background-color: @alt_blue;
						}
					}
				}

				&:nth-of-type(7n+3) {

					& .sandhills-member {

						& .member-graphic {
							background-color: @alt_gold;
						}
					}
				}

				&:nth-of-type(7n+4) {

					& .sandhills-member {

						& .member-graphic {
							background-color: @alt_green;
						}
					}
				}

				&:nth-of-type(7n+5) {

					& .sandhills-member {

						& .member-graphic {
							background-color: @alt_red;
						}
					}
				}

				&:nth-of-type(7n+6) {

					& .sandhills-member {

						& .member-graphic {
							background-color: @alt_teal;
						}
					}
				}

				&:nth-of-type(7n+7) {

					& .sandhills-member {

						& .member-graphic {
							background-color: @alt_pink;
						}
					}
				}
			}

			& [class*="col"] {

				& .sandhills-member {
					font-size: 1rem;
					text-align: center;
					border-radius: 5px;
					margin-bottom: 2rem;

					& .member-graphic {
						background-image: url( 'includes/assets/images/shapes/skills-icon-bg.svg' );
						background-repeat: repeat;
						background-position: -20px top;
						background-size: 220px 220px;
						border-radius: 5px 5px 0 0;
						min-height: 110px;
					}

					& .member-info {
						position: relative;
						background: #fff;
						padding: 3.6rem 2rem 1.5rem;
						border-radius: 0 0 5px 5px;

						& .member-img {

							& img {
								position: absolute;
								top: -50px;
								left: 50%;
								border: 3px solid #fff;
								border-radius: 50%;
								margin-left: -50px;
								max-width: 100px;
							}

							& .member-img-placeholder {
								display: block;
								position: absolute;
								top: -50px;
								left: 50%;
								background-color: @alt_purple;
								.diagonal-shade;
								border: 3px solid #fff;
								border-radius: 50%;
								margin-left: -50px;
								width: 100px;
								height: 100px;
							}
						}

						& .member-name {
							color: @blue_title;
							.branding;
							font-size: 1.2rem;
							line-height: 1;
							margin-bottom: 0;
						}

						& .member-role {
							color: @grayish_blue;
							.branding;
							font-size: 14px;
						}
					}

					& p {
						margin-bottom: 0;
					}
				}
			}
		}

		& .row.global-footprint {
			margin-bottom: 2rem;
		}

		& .join-our-team-container {
			position: relative;

			& .join-our-team {
				position: absolute;
				right: 0;
				bottom: 0;
				.branding;

				& a {
					color: @blue;
					font-size: 14px;
				}
			}
		}
	}

	& .quick-info {

		&.did-you-know {

			& [class*="fad"] {
				color: @turquoise;
			}
		}
	}
}