.front-page {

	& #masthead {
		background-color: @night;
		background-image: url( 'includes/assets/images/shapes/sandhills.svg' ),
		url( 'includes/assets/images/shapes/stars.svg' ),
		url( 'includes/assets/images/shapes/moon-light.svg' );
		background-repeat: no-repeat, repeat, no-repeat;
		background-size: 102% auto, 1440px auto, 800px auto;
		background-position: center bottom, left top, -300px -190px;
		color: #fff;
		padding-bottom: 6rem;

		@media all and ( min-width: 576px ) {
			padding-bottom: 10rem;
		}

		@media all and ( min-width: 1200px ) {
			padding-bottom: 17rem;
		}

		& nav[id*="nav-secondary"] {

			& .nav-item {

				& .nav-link {
					color: @night_text;
					transition: color .2s;

					&:hover {
						color: #fff;
						opacity: 1 !important;
					}
				}
			}
		}

		& .hero {

			& .tagline-container {
				margin: 0 auto;

				& .tagline-heading {
					color: #fff;
				}

				& .tagline {
					margin-bottom: 1rem;

					& .bold-description {
						color: @night_text;
						margin: 0 auto 2rem;

						& a {
							color: #fff;
							text-decoration: none;
							border-bottom: 2px dotted rgba(255,255,255,.3);
							transition: border-bottom-color .2s;

							&:hover {
								border-bottom-color: rgba(255,255,255,.7);
							}
						}
					}
				}
			}
		}

		& .sandhills-goals {

			& [class*="col"] {
				margin: 0 auto 4rem;
				max-width: 600px;

				&:last-of-type {
					margin-bottom: 0;
				}

				@media all and ( min-width: 576px ) {
					margin-bottom: 6rem;
				}

				@media all and ( min-width: 992px ) {
					margin-bottom: 0;
				}
			}

			& .sandhills-goal {
				position: relative;
				background: rgba(255, 255, 255, .04);
				color: #fff;
				text-align: center;
				padding: 4rem 2rem 2rem;
				border-radius: 5px;
				height: 100%;

				@media all and ( min-width: 576px ) {
					padding-top: 4.5rem;
				}

				@media all and ( min-width: 768px ) {
					padding-top: 5rem;
				}

				@media all and ( min-width: 1200px ) {
					padding: 5rem 3rem 2.5rem;
				}

				& .goal-icon {
					position: absolute;
					top: -30px;
					left: 50%;
					width: 60px;
					margin-left: -30px;
					height: auto;

					@media all and ( min-width: 576px ) {
						top: -40px;
						left: 50%;
						width: 80px;
						margin-left: -40px;
					}

					@media all and ( min-width: 768px ) {
						top: -50px;
						left: 50%;
						width: 100px;
						margin-left: -50px;
					}
				}

				& .goal-title {
					color: #fff;
					font-size: 18px;

					@media all and ( min-width: 576px ) {
						font-size: 22px;
					}

					@media all and ( min-width: 992px ) {
						font-size: 18px;
					}

					@media all and ( min-width: 1200px ) {
						font-size: 22px;
					}

					&:after {
						background: @title_border_stars;
					}
				}

				& .goal-description {
					color: @night_text;
					font-size: 18px;

					& a {
						color: #fff;
						text-decoration: none;
						border-bottom: 2px dotted rgba(255,255,255,.3);
						transition: border-bottom-color .2s;

						&:hover {
							border-bottom-color: rgba(255,255,255,.7);
						}
					}
				}
			}
		}
	}

	& .quick-info {
		background: @gray;
		font-size: 15px;

		&.about-info {
			padding: 1.2rem 0 1.3rem;
			border-bottom: 2px solid @gray_border;
			margin-top: -1px;

			& .shd-founded {
				--fa-primary-color: silver;
				--fa-secondary-color: #CFC13A;
			}

			& .shd-global {
				--fa-primary-color: #50997B;
				--fa-secondary-color: #4CBBEE;
			}

			& .shd-headquarters {
				--fa-secondary-color: #DF4E4E;
				--fa-primary-opacity: 0.00;
				--fa-secondary-opacity: 1;
			}
		}

		&.projects-info {
			padding: 1.3rem 0;
			border-top: 2px solid @gray_border;

			& .email-us {
				--fa-primary-color: #649ACE;
				--fa-secondary-color: @sand;
				--fa-secondary-opacity: 1;
			}
		}

		& .quick-detail {
			display: block;
			text-align: center;
			margin-right: 1rem;

			@media all and ( min-width: 768px ) {
				display: inline-block;
				text-align: left;
			}

			& [class*="fa-"] {
				display: none;
				font-size: 120%;
				margin-right: 8px;

				@media all and ( min-width: 768px ) {
					display: inline;
				}
			}

			& > .temp-hide {
				display: inline;

				@media all and ( min-width: 768px ) and ( max-width: 1199px ) {
					display: none;
				}

				@media all and ( min-width: 1200px ) {
					display: inline;
				}
			}

			& .quick-info-link {
				text-decoration: underline;

				& .temp-hide {
					display: inline;

					@media all and ( min-width: 768px ) and ( max-width: 991px ) {
						display: none;
					}
				}

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	/* Projects CSS in projects.less */

	& .team-commitment-section {
		color: #fff;
		padding: 0;

		@media all and ( max-width: 991px ) {

			& .container {
				max-width: 100%;
			}
		}

		@media all and ( min-width: 992px ) {
			background: linear-gradient( to right, @night 40%, @green 40% );
		}

		& [class*="col"] {

			@media all and ( max-width: 991px ) {
				padding: 0;
			}

			&:first-of-type {
				padding-right: 0;

				@media all and ( min-width: 992px ) {
					background: @night url('includes/assets/images/shapes/world-map-bg.svg') no-repeat left 74px;
					background-size: 88% auto;
					padding-right: 0;
				}

				& + [class*="col"] {
					padding-left: 0;
				}
			}
		}

		& [class*="our-"] {
			text-align: center;
			padding: 7% 15px 9%;
			margin: 0 -9px;

			@media all and ( min-width: 576px ) {
				padding: 7% 14%;
				margin: 0;
			}

			@media all and ( min-width: 992px ) {
				text-align: left;
			}

			& .generic-heading {
				font-size: 3.4rem;
			}
		}

		& .our-people {
			background: @night url('includes/assets/images/shapes/world-map-bg.svg') no-repeat center 30px;
			background-size: 80% auto;

			@media all and ( min-width: 576px ) {
				background-size: 50% auto;
			}

			@media all and ( min-width: 992px ) {
				background: transparent;
				background-size: unset;
				padding: 5rem 5rem 5rem 0;
			}

			@media all and ( min-width: 1200px ) {
				padding: 6rem 5rem 6.5rem 0;
			}
		}

		& .our-commitment {
			background: @green;

			@media all and ( min-width: 992px ) {
				background: transparent;
				padding: 5rem 0 5rem 5rem;
			}

			@media all and ( min-width: 1200px ) {
				padding: 6rem 0 6.5rem 5rem;
			}

			& a {
				color: #fff;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	& .blog-section {

		& .content-aside-split {

			 & .content-inner {
				 position: relative;

				 & .content-title {

					 @media all and ( min-width: 1200px ) {
						 font-size: 3.4rem;
					 }
				 }

				 & .shd-button {
					 margin-top: 1.5rem;
				 }

				 & .link-more {
					 display: none;
				 }
			 }

			& .aside-split {

				& .aside-inner {

					& .more-posts-graphic {
						display: none;
						position: absolute;
						bottom: -20px;
						right: -5px;
						width: 100px;
						height: auto;
						background-color: @alt_red;
						box-shadow: 0 0 0 3px @gray_border;
						border-radius: 50%;

						@media all and ( min-width: 992px ) {
							display: block;
						}
					}
				}
			}
		}
	}

	& #content {
		padding-bottom: 0;
	}

	/*
	& .contact-section {
		background: @gray;
		border-top: 2px solid @gray_border;

		& .wpforms-container {
			padding-top: 4rem;
		}

		& .wpforms-confirmation-container {
			background: rgba(255,255,255,.1);
			color: #BEC6CE;
			font-style: italic;
			text-align: center;
			padding: 2rem;
			border-radius: 4px;
			margin-top: 4rem;
		}
	}
	*/
}