.front-page {

	& #masthead {
	}

	& .hero {
		position: relative;
		padding: 4rem 0;

		& .tagline-container {
			text-align: center;
			margin: 0 auto;
			max-width: 800px;

			& .tagline-heading {
				display: inline-block;
				.branding;
				font-size: 3.8rem;
				margin-bottom: .2em;

				& .tagline-highlight {
					color: @blue;
				}
			}

			& .tagline {
				margin-bottom: 1rem;
			}
		}
	}

	& .quick-projects {
		text-align: center;
		border-width: 1px 0;
		border-style: solid;
		border-color: #e1ebf2;
		margin-bottom: 600px;

		& .container {
			max-width: 100%;
		}

		& [class*="col"] {
			padding: 0;

			& [class*="-url"] {
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}

				& .quick-project {
					background-color: #fff;
					padding: 2.4rem 3rem;
					border: 1px solid #e1ebf2;
					height: 100%;

					&.edd-col {
						border-width: 0 1px 1px 0;
					}

					&.awp-col {
						border-width: 0 1px 1px 0;
					}

					&.rcp-col {
						border-width: 0 1px 1px 0;
					}

					&.sc-col {
						border-width: 0 0 1px 0;
					}

					&.pp-col {
						border-width: 0 1px 0 0;
					}

					&.sb-col {
						border-width: 0 1px 0 0;
					}

					&.wpsp-col {
						border-width: 0 1px 0 0;
					}

					&.beer-col {
						border: none;
					}

					& .quick-project-description {
						color: @body_color_light;
					}
				}
			}
		}

		& .mascot {
			height: 80px;
			width: auto;
		}

		& .quick-project-title {
			display: inline-block;
			color: @body_color;
			.branding;
			font-size: 1rem;
			margin-bottom: .4em;
		}

		& p {
			font-size: 1rem;
		}
	}

	& .meet-the-team {
		background: @lightgray;
		background-image: url( 'includes/assets/images/shapes/world-map.svg' );
		background-repeat: no-repeat;
		background-size: 1400px auto;
		background-position: center bottom;
		padding: 7rem 0 4rem;
		border-width: 1px 0;

		& .container {

			& .row:not(.section-header) {
				margin: 0;
			}

			& > .row:not(.our-people-header) > [class*="col"] {
				padding: 0;
			}

			& .title-highlight {
				color: @blue;
			}

			& .our-people {
				padding: 0;

				& .our-people-row {
					padding-bottom: 39.5%;

					& [class*="col"] {
						padding: 0 0 2.5rem;
						margin: 0;

						& img {
							border-radius: 50%;
							width: 125px;

							&:hover {
							}
						}

						& .year {
							display: none;
							/*
							position: absolute;
							top: 0;
							left: -10px;
							color: #c4cfd7;
							.branding;
							font-size: 12px;
							line-height: 1;
							*/
						}

						& .person {
							position: absolute;
							bottom: 34px;
							left: 17px;
							display: inline-block;
							background: @blue;
							color: #fff;
							.branding;
							font-size: 12px;
							line-height: 1;
							padding: 3px 6px;
							border-radius: 10px;
						}
					}
				}
			}

			& .our-facts {

				& .fact-group {
					text-align: center;

					& .col {
						padding-top: 10px;
						margin-bottom: 1.5rem;
						min-height: 133px;

						&:after {
							position: absolute;
							left: 50%;
							bottom: 10px;
							background-color: #e1ebf2;
							content: "";
							margin-left: -30px;
							height: 2px;
							width: 60px;
						}

						& .fact-title {
							color: @blue;
							.branding;
							font-size: 4rem;
							line-height: 1;
						}

						& .fact-description {
							color: @body_color_light;
							font-size: 20px;
						}
					}
				}
			}

			& .row.global-footprint {
				margin-bottom: 2rem;
			}

			& .join-our-team-container {
				position: relative;

				& .join-our-team {
					position: absolute;
					right: 0;
					bottom: 0;
					.branding;

					& a {
						color: @coral;
						font-size: 14px;
					}
				}
			}
		}
	}

	& .headquarters {

		& [class*="col"] {
			padding-top: 3rem;
			padding-bottom: 3rem;

			& h4 {
				font-size: 1rem;
				margin: 0;
			}

			& p {
				font-size: 1rem;
			}

		}
	}

	& .what-we-do {
		padding: 6rem 0 8rem;

		& .section-header {
			text-align: center;

			& .section-title {
			}

			& .section-description {
				max-width: 660px;
				margin: 0 auto;
			}
		}

		& .nutshell-section {
			margin-bottom: 9rem;

			& .content {
				padding-top: 3rem;

				& h4 {
					font-size: 2.5rem;
				}

				& p:first-of-type {
					margin: 1.5rem 0 1rem;
				}
			}

			& .media {
				height: 100%;
				box-shadow: 0 20px 26px 4px rgba(151, 161, 174, .1);

				& .carousel-item {
					width: 570px;
					height: 370px;

					& img {
					}
				}

				&.solutions {
					border: 1px solid #e0e6ed;
				}
			}
		}
	}

	& .our-projects {

		& .container {
		}

		& .project-logos {
			text-align: center;

			& [class*="col"] {

				& [class*="col-"] {
					padding: 2rem;
				}
			}

			& .mascot {

				& img {
					max-width: 100px;
				}

				&.pippins-plugins {
					max-width: 80px;
				}

				&.edd {
					position: relative;
					top: -3px;
					max-width: 82px;
				}

				&.alf {
					max-width: 110px;
				}

				&.rex {
					position: relative;
					top: -6px;
					max-width: 74px;
				}

				&.sugarcalendar {
					max-width: 117px;
				}

				&.sellbird {
					max-width: 132px;
				}

				&.rhino {
					position: relative;
					top: -6px;
					max-width: 76px;
				}

				&.sandhills-brewing {
				}
			}
		}
	}
}