body {
	background: @body_bg;
	color: @body_color_light;
	font-size: unset;
	line-height: 1.6;

	@media all and ( min-width: 1440px ) {
		padding: 3rem 0;
	}

	@media all and ( min-width: 1200px ) {
		font-size: 20px;
	}

	& #page {
		/*box-shadow: 0 0 30px rgba(216,224,230,0.8);*/
	}
}

@media ( min-width: 1440px ) {

	.container {
		max-width: 1280px;
	}
}