/* ----------------------------- *
 * General
 * ----------------------------- */
@body_bg:          #e8f3fc;
@body_color:       #0f5584;
@body_color_light: #5788a9;

/* ----------------------------- *
 * Colors
 * ----------------------------- */
@blue:      #05A0D3;
@turquoise: #51BFA3;
@sand:      #FFF7D4;
@orange:    #EFAF44;
@coral:     #FB5F07;

@lightgray:     #fafdff;
@lightgray_alt: #ecf2f6;
@gray:          #97a1ae;