/* ----------------------------- *
 * General
 * ----------------------------- */
@body_color:       #325686;
@body_color_light: #889bb5;


/* ----------------------------- *
 * Colors
 * ----------------------------- */

@blue:       #4b87d9;
@blue_bg:    #38639d;

@green:      #39ad7e;

@turquoise:  #0fb3da;

@lightgray:     #f6f9fb;
@lightgray_alt: #ecf2f6;
@gray:          #97a1ae;