/* ----------------------------- *
 * Staple colors
 * ----------------------------- */
@body_bg:         #E6EDF7;
@night:           #1c3752;
@night_light:     #617086;
@night_text:      #c4d2e0;

@gray:            #f4f8fc;
@gray_border:     #ebf0f5;
@grayish_blue:    #9CABB9;


/* ----------------------------- *
 * Accent colors
 * ----------------------------- */
@blue:            #649ACE;
@blue_hover:      darken( #649ACE, 5% );
@blue_title:      #4B657E;
@blue_timeline:   #547491;

@green:           #50997B;

@alt_purple: #a17cc2;
@alt_blue:   #5e8aad;
@alt_gold:   #c0a371;
@alt_green:  #9ac27c;
@alt_red:    #c2817c;
@alt_teal:   #7cc2c0;
@alt_pink:   #c27c98;


/* ----------------------------- *
 * Specific colors
 * ----------------------------- */
@title_border_stars: #35526f;